<div class="row">
  <div class="row center margin-top-10">
    <h1>Capture Text</h1>
  </div>
  <%= form_for :hand_writing, url: {action: "upload_image"} do |f| %>
    <div class="row center margin-top-10">
      <div>
        <%= f.filestack_field :filepicker_url, 'Upload Hand Written Image!', id: 'unique-id', input_id: 'unique-input-id', class: "btn btn-warning" %>
      </div>
    </div>
    <div class="row center">
      <%= f.submit "Submit", class: "btn btn-primary margin-top-10"%>
    </div>
    <% end %>
</div>
