<footer class="footer navbar-fixed-bottom">
	<div class="container">
  <nav>
    <ul>
      <li><p>Powered by <b><a href="http://www.dotweb.in/
">DOTWEB IDEAS</a></b></p></li>
    </ul>
  </nav>
  </div>
</footer>
